@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.home-container {
  .banner-img {
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 4rem;
  }

  .manasHeading {
    font-family: "Monoton", cursive;
    font-weight: bold;
    font-size: 12rem;
    color:  rgba(44, 83, 100, 1);
   
  }

  .manasSubHeading {
    font-weight: bold;
    font-size: 3rem;
  }
}
