//Color
$black-color:                #333333 !default;
$black-color-light:          #4d4c4c;
$black-hr:                   #444444 !default;

$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$medium-dark-gray:           #AAAAAA !default;
$dark-gray:                  #9A9A9A !default;


//Sidebar
$sidebar-background:        #1f2937;
$sidebar-width:               26rem;
$sidebar-border:              2px solid rgba($light-gray, 0.5);
$sidebar-hover:               #111827;




//Main 
$main-width:               calc(100% - 26rem);